
/* ------- Fonts --------------------- */

@font-face {
    font-family: Mercury;
    src: url('../fonts/MercuryRegular.eot');
    src: url('../fonts/MercuryRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MercuryRegular.woff') format('woff'),
         url('../fonts/MercuryRegular.ttf') format('truetype');
}

@font-face {
    font-family: Mercury;
    font-weight: bold;
    src: url('../fonts/MercuryBold.eot');
    src: url('../fonts/MercuryBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MercuryBold.woff') format('woff'),
         url('../fonts/MercuryBold.ttf') format('truetype');
}

/* ------- Header Styles --------------------- */

.header-top {
  width: 100%;
  background-color: white;
  /* padding: 10px 0 0; */
}

#logo {
  width: 25%;
  max-width: 150px;
  padding-left: 25%;
  display: inline;
}

h1 {
  float: right;
  margin: auto;
  padding-top: 40px;
  margin-right: 30%;
  max-width: 380px;
  color: #F06A37;
  font-size: 2.6em;
  border-bottom: 5px solid #F06A37;
}

ul.main-menu {
  width: 100%;
  background-color: #F06A37;
  padding: 30px 0;
  text-align: center;
  margin: 0 0 20px;
  clear: both;
}

.main-menu li {
  border: 1px solid white;
  border-radius: 6px;
  display: inline-block;
  padding: 8px 15px;
  margin: 5px 8px;
  font-size: 1em;
}

.main-menu li a {
  transition: all .3s;
  text-decoration: none;
  color: white;
}

.main-menu li.selected {
  background-color: white;
  color: white;
}

.main-menu li.selected a {
  color: #F06A37;
}

.main-menu li.selected .dropdown-content a {
  color: white;
}

.main-menu li.selected .dropdown-content a:hover {
  color: black;
}

.main-menu li a:hover {
  color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 0.9em;
    background-color: #F06A37;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}

.dropdown-content a {
    padding: 8px 15px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ------- Main Content Body Styles --------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: 'Mercury', Arial, sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.main-wrapper {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
  clear: both;
}

h2 {
  padding-top: 60px;
  border-bottom: 2px dotted black;
}

.highlight {
  color: #F06A37;
  margin-top: 40px;
}


/* ------- Startseite Styles --------------------- */

#bildungsangebot {
  margin: 0;
  padding: 0;
  list-style: none;  /* remove bullet points */
}

#bildungsangebot li {
  float: left;
  width: 45%;  /* to make two columns */
  margin: 2.5%;  /* per column per side, using the remaining 10% */
  background-color: #f5f5f5;
}

#bildungsangebot li a img {
  border-radius: 5px 5px 0 0;
}

#bildungsangebot li a {
  text-decoration: none;
}

#bildungsangebot li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: black;
  border-bottom: 2px solid #F06A37;
  border-radius: 0 0 5px 5px;
}


/* ------- KiTa Styles --------------------- */

ul.kita-options {
  padding: 0;
  text-align: center;
}

.kita-options li {
  border-radius: 6px;
  display: inline-block;
  background: #F06A37;
  padding: 8px 10px;
  margin: 1.5%;
  box-shadow: 0 12px 10px -7px rgba(0,0,0, .8);
}

.kita-options li a {
  text-decoration: none;
  color: white;
}

/* ------- About Styles --------------------- */

#profile-image {
  float: left;
  width: 25%;
  height:
  max-width: 200px;
}

#about-text {
  float: right;
  width: 70%;
  padding-bottom: 40px;
}


/* ------- Kontakt Styles --------------------- */

.contact-info p {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;  /* padding between text and images */
  margin: 0 0 10px;
}

.contact-info .phone {
  background-image: url('../img/phone.png');
}

.contact-info .email {
  background-image: url('../img/mail.png');
}


/* ------- Footer Styles --------------------- */

footer {
  font-size: 0.8em;
  clear: both;
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
  color: #ccc;
  border-top: 1px dashed #F06A37;
}

footer a {
  color: #ccc;
}
