
/* ------- Fonts --------------------- */

@font-face {
    font-family: Mercury;
    src: url('../fonts/MercuryRegular.eot');
    src: url('../fonts/MercuryRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MercuryRegular.woff') format('woff'),
         url('../fonts/MercuryRegular.ttf') format('truetype');
}

@font-face {
    font-family: Mercury;
    font-weight: bold;
    src: url('../fonts/MercuryBold.eot');
    src: url('../fonts/MercuryBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MercuryBold.woff') format('woff'),
         url('../fonts/MercuryBold.ttf') format('truetype');
}

/* ------- Main Styles --------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: 'Mercury', Arial, sans-serif;
  font-weight: normal;
}

header {
  width: 100%;
  background-color: #F06A37;
  padding: 20px 0 0;
}

h1 {
  margin: 8% 30% 5%;
  text-align: center;
  color: white;
  font-size: 2.3em;
  border-bottom: 5px solid white;
}

ul.main-menu {
  padding: 0 0 40px;
  text-align: center;
}

.main-menu li {
  border-radius: 6px;
  display: inline-block;
  background: #fff;
  padding: 8px 15px;
  margin: 5px;
  font-size: 1.3em;
  font-weight: bold;
}

.main-menu li a {
  transition: all .3s;
  text-decoration: none;
  color: #F06A37;
}

.main-menu li a:hover {
  color: #000;
}
